<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RSWebSocketApplication.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B0BE7C415B8964B0080ADC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B0BE7DC15B8964B0080ADC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B877EC415E42A59000264F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B877EDE15E42A59000264F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B87848215E4320A000264F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B87849C15E4320A000264F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
